@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 2px solid red; */
}
body {
  background-color: #ebecee;
  position: relative;
}
hr {
  margin-bottom: 5px;
}
body > h4 {
  position: absolute;
  margin-left: 60px;
  top: -29px;
  left: 2px;
  font-size: 15px;
  font-weight: bold;
}
.whatsapp {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  padding: 5px;
  cursor: default;
}
.whatsapp i {
  font-size: 30px;
  background: linear-gradient(135deg, #25d366, #128c7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whatsapp-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  background: linear-gradient(135deg, #25d366, #128c7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.side-navbar.active .whatsapp-text {
  display: block;
}
/* ========== Sidebar ========== */
header {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 20;
}
.side-navbar {
  width: 60px; /* collapsed by default */
  height: 100vh;
  background-color: #ebecee;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

/* Expanded */
.side-navbar.active {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 10px -2px grey;
  border-right: 1px solid rgb(195, 196, 197);
  width: 250px;
}

/* Sidebar List */
.side-navbar-ul {
  list-style: none;
}

/* ========== Only Icon Items (like top bar) ========== */
.li-bar-icon {
  width: 45px;
  padding: 5px 5px;
  border-left: 2px solid #ebecee;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 99;
}

.li-bar-icon i {
  font-size: 25px;
}

/* ========== Icon + Text Items ========== */
.navbar-li {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
  border-radius: 5px;
  border-left: 2px solid #ebecee;
  padding: 10px 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.navbar-li i {
  font-size: 20px;
}

.navbar-li h4 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show text when expanded */
.side-navbar.active .navbar-li h4 {
  display: block;
  opacity: 1;
}

/* Hover effects */
.navbar-li:hover,
.li-bar-icon:hover {
  background-color: #dadbdd;
  border-left: 2px solid #dadbdd;
}

/* Active/Selected */
.navbar-ul-li {
  background-color: #dadbdd;
  border-left: 2px solid rgb(7, 207, 7);
}

.navbar-ul-li:hover {
  background-color: #dadbdd;
  border-left: 2px solid rgb(7, 207, 7);
}

/* Meta AI Gradient Icon */
.fa-meta {
  font-size: 30px;
  background: linear-gradient(45deg, #0467df, #09afff, #a033ff, #ff5858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.meta-ai {
  margin-bottom: 10vmax;
}

.body-main {
  height: 93vh;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 10px 0px 0px 0px;
  border-top: 1px solid rgb(195, 196, 197);
  border-left: 1px solid rgb(195, 196, 197);
  display: flex;
  overflow: hidden;
}
.contact-section {
  width: 260px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
  padding: 30px 0px 20px 0px;
  border-right: 1px solid rgb(195, 196, 197);
}
.contact-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}
.contact-name h1 {
  font-weight: 400;
  font-size: 20px;
  cursor: default;
}
.contact-name > div {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-name > div i,
.contact-name > div span {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}
.contact-search {
  position: relative;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}
.contact-search input {
  width: 100%;
  border: 1px solid grey;
  outline: none;
  padding: 10px 5px 10px 30px;
  font-size: 14px;
  border-radius: 5px;
}
.contact-search i {
  position: absolute;
  left: 25px;
  top: 11px;
  color: grey;
}
.contact-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 10px 0px 10px;
  align-items: start;
  max-height: 430px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.contact-ul::-webkit-scrollbar {
  width: 6px;
}
.contact-ul::-webkit-scrollbar-track {
  background: transparent;
}
.contact-ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: none;
}
.contact-ul::-webkit-scrollbar-button {
  display: none !important;
}
.contact-ul > li {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.contact-ul > li:hover {
  background-color: #ebecee;
  border-radius: 5px;
}
.contact-detail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-detail {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-detail > div {
  margin-left: 10px;
}
.contact-detail h4 {
  font-weight: 500;
  margin-bottom: 5px;
}
.contact-detail p {
  color: grey;
  font-size: 14px;
}
.contact-time {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.contact-time p {
  color: green;
  font-size: 12px;
  font-weight: 500;
}
.contact-time i {
  color: gray;
}
.contact-time span {
  background-color: green;
  color: #ffffff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 12px;
}
.chat-section {
  width: 76.34vmax;
  border-bottom: 1px solid rgb(195, 196, 197);
  height: 100%;
  background: url("../Assets/Images/whatsapp-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.chat-bar {
  border-bottom: 1px solid rgb(195, 196, 197);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.chat-bar .chatbar-info {
  display: flex;
  justify-content: start;
  align-items: center;
}
.fa-arrow-left {
  display: none;
  width: 45px;
  padding: 10px 5px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.fa-arrow-left:hover {
  background-color: #dadbdd;
}
.chat-bar img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.chat-bar div {
  margin-left: 10px;
  cursor: default;
}
.chat-bar h4 {
  margin-bottom: 5px;
  font-size: 15px;
}
.chat-bar p {
  color: gray;
  font-size: 12px;
}
.chatbar-icon {
  cursor: default;
  display: flex;
}
.chatbar-icon i {
  width: 45px;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.chatbar-icon i:hover {
  background-color: #dadbdd;
}
.chatbar-icon-call {
  margin-right: 5px;
}
.chatbar-icon-call i {
  border: 1px solid rgb(195, 196, 197);
}
.display-message {
  padding: 20px;
  max-height: 490px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.display-message::-webkit-scrollbar {
  width: 6px;
}
.display-message::-webkit-scrollbar-track {
  background: transparent;
}
.display-message::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: none;
}
.center-date {
  display: flex;
  align-items: start;
  justify-content: center;
}
.center-date > div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #a2dceb;
  cursor: pointer;
  padding: 5px 5px;
  margin: 10px 0px 5px 0px;
  border-radius: 5px;
}
.center-date > div:hover {
  background-color: #3bbbdb;
}
.center-date > div p {
  font-size: 12px;
}
.left-message,
.right-message {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 30px 0px 30px 0px;
}
.right-message {
  justify-content: end;
}
.left-message > div,
.right-message > div {
  background-color: #ffffff;
  width: 250px;
  padding: 5px 20px 10px 20px;
  border-radius: 4px;
  margin-left: 10px;
  position: relative;
}
.left-message > div::after,
.right-message > div::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  left: -15px;
  top: 0px;
}
.right-message > div::after {
  background-color: #a7faae;
}
.left-message > div span,
.right-message > div span {
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: grey;
  font-size: 10px;
}
.left-message > div h6,
.right-message > div h6 {
  color: #09afff;
}
.left-message > img,
.right-message > img {
  width: 30px;
  margin-top: 5px;
  height: 30px;
  border-radius: 50%;
}
.right-message > div {
  background-color: #a7faae;
}
.left-message > div img,
.right-message > div img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
.send-message {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(195, 196, 197);
  justify-content: space-between;
}
.send-message input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px 5px 10px 5px;
  font-size: 14px;
  border-radius: 5px;
}
.send-message i {
  width: 45px;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.send-message i:hover {
  background-color: #dadbdd;
}

@media screen and (max-width: 768px) {
  .fa-arrow-left {
    display: block;
  }
  .contact-section {
    width: 100%;
  }
  .chat-section {
    width: 100%;
  }
}
